<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
 <category label="Test">
 <setting label="Mercury" id="mercury" type="slider" default="1" range="1,1,10" option="int" />
  <setting label="Venus" id="venus" type="slider" default="2" range="1,1,10" option="int" />
   <setting label="Earth" id="earth" type="slider" default="3" range="1,1,10" option="int" />
    <setting label="Mars" id="mars" type="slider" default="4" range="1,1,10" option="int" />
     <setting label="Jupiter" id="jupiter" type="slider" default="5" range="1,1,10" option="int" />
      <setting label="Saturn" id="saturn" type="slider" default="6" range="1,1,10" option="int" />
       <setting label="Uranus" id="uranus" type="slider" default="7" range="1,1,10" option="int" />
        <setting label="Neptune" id="neptune" type="slider" default="8" range="1,1,10" option="int" />
         <setting label="Pluto" id="pluto" type="slider" default="9" range="1,1,10" option="int" />
 </category>
</settings>
