<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32001">
		<setting default="Daily" id="check_freq" label="32002" lvalues="32003|32004|32005|32006" type="enum"/>
		<setting default="Tues" id="check_weekday" label="32007" lvalues="32008|32009|32010|32011|32012|32013|32014" subsetting="true" type="enum" visible="eq(-1,2)"/>
		<setting default="0" id="check_day" label="32015" option="int" range="-16,1,16" subsetting="true" type="slider" visible="eq(-2,3)"/>
		<setting default="Random" id="check_time" label="32016" lvalues="32017|32018" subsetting="true" type="enum" visible="!eq(-3,0)"/>
		<setting default="12" id="check_hour" label="32019" option="int" range="1,1,12" subsetting="true" type="slider" visible="!eq(-4,0)+eq(-1,1)"/>
		<setting default="0" id="check_meridian" label="32020" lvalues="32021|32022" subsetting="true" type="enum" visible="!eq(-5,0)+eq(-2,1)"/>
		<setting default="0" id="check_minute" label="32023" option="int" range="o,1,60" subsetting="true" type="slider" visible="!eq(-6,0)+eq(-3,1)"/>
		<setting default="0" id="action" label="32024" lvalues="32025|32026|32027" type="enum" visible="!eq(-7,0)"/>
		<setting default="false" id="install_reboot" label="32028" subsetting="true" type="bool" visible="eq(-1,2)+!eq(-8,0)"/>
		<setting default="false" id="shape_bool" label="32029" type="bool" visible="!eq(-9,0)"/>
		<setting default="false" id="shape_speed" label="32030" subsetting="true" type="number" visible="eq(-1, true)+!eq(-10,0)"/>
	</category>
	<category label="32031">
		<setting default="true" id="display_bool" label="32032" type="bool"/>
		<setting default="0" id="display_type" label="32033" lvalues="32034|32035" type="enum" visible="eq(-1,true)"/>
		<setting default="Top Left" id="display_position" label="32036" lvalues="32037|32038|32039|32040" subsetting="true" type="enum" visible="eq(-2,true)+eq(-1,0)"/>
		<setting default="0" id="display_permanence" label="32041" lvalues="32042|32043" subsetting="true" type="enum" visible="eq(-3,true)+eq(-2,0)"/>
		<setting default="5" id="display_freq" label="32044" option="int" range="1,1,12" subsetting="true" type="slider" visible="eq(-4,true)+eq(-3,0)+eq(-1,1)"/>
		<setting default="5" id="display_duration" label="32045" option="int" range="1,1,30" subsetting="true" type="slider" visible="eq(-5,true)+eq(-4,0)+eq(-2,1)"/>
		<setting default="false" id="suppress_progress" label="32046" type="bool"/>
		<setting default="false" id="email_bool" label="32047" type="bool"/>
		<setting default="" id="email_address" label="32048" subsetting="true" type="text" visible="eq(-1,true)"/>
	</category>
	<category label="32049">
		<setting action="" id="manual_view" label="32050" type="action"/>
		<setting action="" id="manual_action" label="32051" type="action"/>
		<setting action="" id="manual_revert" label="32052" type="action"/>
	</category>
</settings>